.required-star {
    color: red;
}

.form-group {
    margin-bottom: 30px;
}

.profile-head,
.edit-profile {
    padding: var(--extreme-spacing);
    border-radius: 10px;
    background: var(--white);
}

.edit-profile h3 {
    margin-bottom: 20px;
}
.error-text-password {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}
.form-group label {
    font-weight: 600;
}

.eye-slash{
    background-image: url("/icons/eye-slash-solid.svg");
    background-repeat: no-repeat;
    width: 36px;
    background-size: 28px;
    aspect-ratio: 1/1;
    background-position: center;
}

.eye{
    background-image: url("/icons/eye-solid.svg");
    background-repeat: no-repeat;
    width: 36px;
    background-size: 26px;
    aspect-ratio: 1/1;
    background-position: center;
}

