
:root{
    --main-color:#3da35d;
    --red: #e74c3c;
    --orange:#f39c12;
    --light-color:#888;
    --light-bg:#e5e9eae0;
    --dark:#134611;
    --white:#fff;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
}

.bg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/web_background/login.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: darken;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.error-text{
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}
.form-upload-excel{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
}
.form-upload-excel input[type=file]{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    width: 350px;
}

.form-upload-excel input[type=submit]{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.form-upload-excel input[type=file]::file-selector-button{
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.upexcel-btn {
    border: 0;
    width: 70%;
    display:inline-block;
    /*margin:5px 0 15px 0 ;*/
    border-radius:4px;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
    line-height: 50px;
}
.upexcel-btn:hover{
    background-size: 200% auto;
}

.upexcel-btn p{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
.form-upload-excel .drop-title{
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bodyy{
    font-family: Arial, sans-serif;
    background: url(../images/back3.jpg) center/cover;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap:20px;
}

.container h1{
    font-size: 3em;
    color:#fff;
    font-weight: bold;
}
.container .tab{
    position: relative;
    background: #fff;
    padding:0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
    width: 500pt;
}
.container .tab input{
    appearance: none;
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after{
    content: '+';
    position: absolute;
    right:20px;
    font-size: 2em;
    color:rgba(0,0,0,0.1);
    transition: transform 1s;
}

.container .tab:hover label::after{
    color: #333;
}

.container .tab input:checked ~ label::after{
    transform: rotate(135deg);
    color:#fff;
}

.container .tab label h2{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 2.5em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab label h2{
    background: linear-gradient(135deg,#70f570,#49c628);
}

.container .tab label h3{
    position: relative;
    font-weight: 500;
    font-size: 1.68em;
    color: #333;
    z-index: 10;
}

.container .tab .contentt{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container .tab input:checked ~ .contentt{
    max-height: 100vh;
}

.container .tab .contentt p{
    font-size: 2em;
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
.mark{
    display: flex;
    justify-content: space-between;
}
.containerr {
    width: 100%;
    max-width: 700px;
    margin: 4em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.containerr h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
}

.question {
    margin-bottom: 20px;
}
.question p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.question span{
    margin-bottom: 80px;
}
.question label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.question input[type="text"],
.question textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
}

.options {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.options input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.score-container {
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px 10px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.delete-answer{
    margin-top: 5px;
    display: block;
    width: fit-content;
    padding: 5px;
    background-color: #199319;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.container-option button{
    margin-top: 5px;
    display: block;
    width: fit-content;
    padding: 5px;
    background-color: #199319;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.container-option textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}
.popup-content * {
    font-size: 20px;
    line-height: 1.5;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup-header label {
    display: flex;
    align-items: center;
}
.popup-header h2{
    font-size: 28px;
    font-weight: bold;
}
.select-all{
    font-size: 10px;

}
.popup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#item-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-checkbox,
.item-label {
    display: flex;
    align-items: center;
}
.item-checkbox {
    margin-right: 10px;
}
.close-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d32f2f;
}

.close-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5);
}
.options select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-top: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    /*                -moz-appearance: none;
                    -webkit-appearance: none;*/
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.options select::-ms-expand {
    display: none;
}
.options select:hover {
    border-color: #888;
}
.options select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    /*color: #222;*/
    outline: none;
}
.options select option {
    font-weight:normal;
}
.add-btn {
    border: 0;
    width: 100%;
    display:inline-block;
    margin:5px 0 15px 0 ;
    border-radius:4px;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    /*background-color:#4eb5f1;*/
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
    line-height: 50px;
}
.add-btn:hover{
    background-size: 200% auto;
}

.add-btn p{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.container-option{
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-option label{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}
.button-container{
    display: flex;
    justify-content: space-between;
}

.create-question{
    display: block;
    width: 26%;
    padding: 10px;
    background-color: #00c6ff;
    background-image: linear-gradient(to right,#00c6ff 0%,#0072ff 51%,#00c6ff 100%);
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.save-question {
    display: block;
    width: 26%;
    padding: 10px;
    background-color: #00c6ff;
    background-image: linear-gradient(to right,#4776e6 0%,#8e54e9 51%,#4776e6 100%);
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.create-question:hover{
    background-size: 200% auto;
}
.save-question:hover{
    background-size: 200% auto;
}
.select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    /*                -moz-appearance: none;
                    -webkit-appearance: none;*/
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select::-ms-expand {
    display: none;
}
.select:hover {
    border-color: #888;
}
.select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    /*color: #222;*/
    outline: none;
}
.select option {
    font-weight:normal;
}
*::selection{
    background-color: var(--main-color);
    color:#fff;
}

html{
    font-size: 55%;
    overflow-x: hidden;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}
html::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--dark);
}

body{
    background-color: var(--light-bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body.active{
    padding-left: 30em;
    transition: all 0.3s ease 0.1s;
}

section{
    padding:2rem;
    margin: 0;
}

.btn,
.option-btn{
    border-radius: 5px;
    color:#fff;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
    padding:1rem 3rem;
    text-align: center;
    margin-top: 2rem;
}

.btn,
.option-btn
{
    display: block;
    width: 100%;
}
.btn-google{
    background-color: rgba(248, 248, 255, 0.621);
    color: black;
    display: block;
    width: 100%;
    border-radius: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
    padding:1rem 3rem;
    text-align: center;
    margin-top: 1rem;
}

.btn{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background-color: var(--blue);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.option-btn{
    background-color:var(--orange);
}

.btnb{
    border-radius: 20px;
    padding:1rem 3rem;
    text-align: center;
    margin-top: 2rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background-color: var(--orange);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btnb:hover
{
    background-color: var(--dark);
    color: var(--white);
}

body form .signup{
    color: var(--black);
}

body form .signup:hover {
    color: var(--dark-blue);

}

.btn:hover
{
    background: var(--dark-blue);
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

.header{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: var(--white);
    z-index: 4;
    /*border-bottom: var(--border);*/
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.5rem 2rem;
}

.header .flex .logo{
    margin-left: 60px;
}

.header .flex .logo img{
    width: 60%;
}

.header .icon{
    padding-left: 1em;
}

.header .icon div{
    margin:  1rem 2rem 0.5rem 0rem;
    z-index: 2;
    position: absolute;
    align-items: center;
    font-size: 2rem;
    color:var(--dark);
    background-color: var(--light-bg);
    border-radius: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: .7rem;
}

.header .icon div:hover{
    background-color: var(--dark);
    color:var(--white);
}

.header .flex .icons div{
    font-size: 2rem;
    color:var(--dark);
    background-color: var(--light-bg);
    border-radius: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: .7rem;
}

.header .flex .icons div:hover{
    background-color: var(--dark);
    color:var(--white);
}

.header .flex .profile{
    position: absolute;
    top:120%;
    right: 2rem;
    background-color: white;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
    width: 30rem;
}

.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.header .flex .profile .name{
    font-size: 2rem;
    color:var(--dark);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header .flex .profile .role{
    font-size: 1.8rem;
    color: var(--light-color);
}

.header .flex .search-form{
    height: 35px;
    display: flex;
    cursor: pointer;
    padding: 15px 15px;
    background: var(--light-bg);
    border-radius: 5px;
    align-items: center;
}

.header .flex .search-form:hover input {
    width: 400px;
}

.header .flex .search-form input {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
    padding: 5em 0em 5em 0em;
}

.header .flex .search-form .fas{
    color: var(--dark);
    font-size: 18px;
}

.side-bar{
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 30rem;
    background-color: hsl(0, 0%, 18%);
    height: 100vh;
    border-right: 1em solid rgb(62, 62, 62);
    z-index: 1;
    transition: 0.3s linear;
    left: -30em;

}

.side-bar #close-btn{
    text-align: right;
    padding: 2rem;
    display: none;
}

.side-bar #close-btn i{
    text-align: right;
    font-size: 2.5rem;
    background:var(--red);
    border-radius: .5rem;
    color:var(--white);
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.side-bar #close-btn i:hover{
    background-color: var(--dark);
}

.side-bar .profile{
    padding:3rem 2rem;
    text-align: center;
}

.side-bar .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.side-bar .profile .name{
    font-size: 2rem;
    color:var(--light-bg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-bar .profile .role{
    font-size: 1.8rem;
    color: var(--light-color);
}

.side-bar .navbar a{
    display: block;
    margin: 0.5em;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
}

.side-bar .navbar a i{
    margin-right: 1.5rem;
    color:var(--main-color);
    /* transition: .2s linear; */
}

.side-bar .navbar a span{
    color:var(--light-color);
}

.side-bar .navbar a:hover{
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
    margin-right: 2.5rem;
}

.side-bar.active{
    left: 0rem;
}

.home_background{
    position: absolute;
    /*background-image: url(../images/home.jpg);*/
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    filter: brightness(50%);
}
.home-content{
    height: 700px;
}

.home-content h1{
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5em;
    color: #f8f8f8;
    z-index: 2;
}

.home-content p{
    text-align: center;
    font-size: 4em;
    color: #f8f8f8;
    font-weight: 200;
    padding-bottom: 7em;
    z-index: 2;
}
.courses-catagories{
    position: relative;
    background-color: #fff;
    text-align: left;
    padding: 2em 0em 5em 10em;
}

.courses-catagories h3{
    font-size: 30px;
    color: black;
    font-weight: 444;
    padding-bottom: 10px;
}

.courses-catagories .dropdown span{
    cursor: pointer;
    font-size: 20px;
    color: #ce0000;
    padding-bottom: 1px;
    padding-left: 10px;
}

.courses-catagories .dropdown span:hover{
    text-decoration: underline #9f0000 2px;
}

.dropdown_content li{
    cursor: pointer;
    font-size: 16px;
    color: #6d6d6d;
    padding-bottom: 1px;
    /*background-color: none;*/
    list-style: inside;
    padding-left: 25px;
}

.courses-catagories .dropdown{
    position: relative;
}

.courses-catagories .dropdown .dropdown_content{
    position: absolute;
    top: calc(100% + .3em);
    opacity: 0;
    /*transition: 0.15 ease-in-out;*/
}

.courses-catagories .dropdown .dropdown_content.active{
    opacity: 1;
    position: relative;
    transition: 0.3s linear ;

}

.courses-catagories ul{
    font-size: 15px;
    color: #888;
    padding-bottom: 3px;
    padding-left: 20px;
}

.mod_quiz-next-nav:hover {
    text-decoration: underline;
    color: #000066;
}


.form-container{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.form-container form{
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));*/
    background-color: var(--white);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 2rem;
    width: 50rem;
}

.form-container form h3{
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    text-align: center;
}

.form-container form p{
    font-size: 1.7rem;
    color: black;
    padding-top: 1rem;
}

.form-container form p span{
    color: var(--red);
}

.form-container form .bold{
    font-weight: 500;
    font-size: 16px;
}

.form-container form .box{
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    padding: var(--spacing);
    background: var(--white-smoke);
    width: 100%;
    margin: 10px 0;
    border: 1px solid darkgray;
    border-bottom-width: 2px;
}

/*.form-container-background{*/
/*    position: absolute;*/
/*    !*background-image: url(../images/back2.jpg);*!*/
/*    align-items: center;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0px;*/
/*    width: 100%;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    z-index: -1;*/
/*    filter: contrast(80%);*/
/*}*/



.form-container2{
    /*background: url(../images/back3.jpg) center/cover;*/
    min-height: calc(100vh - 20rem);
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container2 form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 70rem;
}

.form-container2 form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
}

.form-container2 form p{
    font-size: 1.7rem;
    color: black;
    padding-top: 1rem;
}

.form-container2 form p span{
    color: var(--red);
}

.form-container2 form .box2{
    font-size: 1.8rem;
    color: var(--black);
    border-radius: 10px;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    margin: 1rem 0;
}
.form-container2 form select{
    cursor: pointer;
}

.manager-account, .manage-course, .manager-exam{
    justify-content: center;
    align-items: center;
    display: flex;
    /*background: url(../images/back3.jpg) center/cover;*/
}

.table{
    width: 90vw;
    height: 90vh;
    background-color: #fff5;
    box-shadow: 0 8px 16px #0005;
    border-radius: 16px;
    overflow: auto;
}

.table .table-header{
    width: 100%;
    height: 12%;
    background-color: #fff5;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.table .table-header h1{
    font-size: 20px;
    font-weight: 600;
}

.table .table-header-exam{
    width: 100%;
    height: 12%;
    background-color: #fff5;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.table .table-header-exam h1{
    font-size: 20px;
    font-weight: 600;
}

.table::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

.table .table-body{
    width: 95%;
    max-height: calc(90% - 25px);
    background-color: #fffb;
    margin: 8px auto;
    border-radius: 10px;
    overflow: auto;
    /*overflow: overlay;*/
}

.table .table-body-exam{
    width: 95%;
    max-height: calc(90% - 25px);
    background-color: #fffb;
    margin: 8px auto;
    border-radius: 10px;
    overflow: auto;
    /*overflow: overlay;*/
}

table{
    width: 100%;
}

.table-exam{
    width: 100%;
}

td img{
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.table-exam td img{
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td{
    border-collapse: collapse;
    padding: 20px;
    font-size: 15px;
    font-weight: 200;
    vertical-align: middle;
    text-align: left;
}

.table-exam,
.table-exam th,
.table-exam td{
    border-collapse: collapse;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    vertical-align: middle;
    text-align: left;
}

th,
td{
    width: 20%;
}

.table-exam th,
.table-exam td{
    width: fit-content;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #9898983b;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.table-exam thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #9898983b;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6 !important;
}

.table-exam tbody tr:nth-child(even){
    background-color: #0000000b;
}

.table-exam tbody tr:hover{
    background-color: #fff6 !important;
}

.table-body .button {
    display: inline-block;
    padding: 5px 0;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 200;
    width: 50%;
}

.table-body-exam .button{
    display: inline-block;
    padding: 5px 0;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 200;
    width: 50%;
}

tr:nth-child(4n) .button{
    background-color: var(--main-color);
}

td a{
    padding: 10px 15px;
    font-size: 2rem;
    align-items: center;
    background-color: var(--light-bg);
    border-radius: 3em;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

td a i{
    color:var(--dark);
}

td a:hover i{
    color: var(--white) !important;
}

td a:first-child i{
    color: rgb(92, 92, 92);
}

td a:nth-child(2) i{
    color: rgb(92, 92, 92);
}

td a:nth-child(3) i{
    color: rgb(92, 92, 92);
}

td a:last-child i{
    color: black;
}

td a:first-child:hover{
    background-color: rgb(92, 92, 92);
}

td a:nth-child(2):hover{
    background-color: rgb(92, 92, 92);
}

td a:nth-child(3):hover{
    background-color: rgb(92, 92, 92);
}

td a:last-child:hover{
    background-color: black;
    ;
}

.footer{
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    background-color: rgb(0, 0, 0);
    /*border-top: var(--border);*/
    text-align: center;
    font-size: 2rem;
    padding:2.5rem 2rem;
    color:var(--white);
    margin-top: 1rem;
    z-index: 1;
}

.footer a{
    font-size: small;
    color:var(--light-bg);
}

@media (max-width:2304px) {

}


@media (max-width:1200px){

    body{
        padding-left: 0;
    }

    .side-bar{
        left: -30rem;
        transition: .2s linear;
    }

    .side-bar #close-btn{
        display: block;
    }

    .side-bar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
        border-right: 0;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .flex-btn{
        gap: 0;
        flex-flow: column;
    }

    .home-grid .box-container{
        grid-template-columns: 1fr;
    }

    .about .row .image img{
        height: 25rem;
    }
}

.courses .box-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;

}

.courses .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
}

.courses .box-container .box .tutor{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.courses .box-container .box .tutor p{
    font-size: 20px;
    color: var(--black);
    margin-bottom: .2rem;
    font-weight: bold;
    text-align: start;
}

.courses .box-container .box .thumb{
    position: relative;
}

.courses .box-container .box .thumb span{
    position: absolute;
    top:1rem;
    left: 1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 1.5rem;
}

.courses .box-container .box .thumb img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
}

.courses .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
    padding-top: 1rem;
    text-align: start;
}

.courses {
    text-align: start;
    margin-top: 2rem;
}

.button1,.button-opt{
    border-radius: .5rem;
    color:#fff;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
    padding:1rem 3rem;
    text-align: center;
    margin-top: 1rem;
    background-color: black;
}
.table-header-exam, .manage-course .table .table-header .input-group .search-form:hover input {
    width: 400px;
}

.table-header-exam, .manage-course .table .table-header .input-group .search-form input {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
    padding: 5em 0em 5em 0em;
}

.table-header-exam, .manage-course .table .table-header .input-group .search-form .fas{
    color: var(--dark);
    font-size: 18px;
}

.table-header-exam, .manage-course .table .table-header .input-group .search-form{
    height: 35px;
    display: flex;
    cursor: pointer;
    padding: 15px 15px;
    background: var(--light-bg);
    border-radius: 5px;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
.swal2-title{
    font-size: 28px;
}

.swal2-container .swal2-confirm,
.swal2-container .swal2-cancel{
    font-size: 13px;
}
.swal2-container .swal2-html-container {
    font-size: 18px;
}

.pro1{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(../images/back3.jpg) center/cover;*/
}


.pro{
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(../images/back3.jpg) center/cover;*/
}

.pro form {
    padding: 2rem;
    width: 100rem;
    display: flex;
}

.pro2{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(../images/back3.jpg) center/cover;*/
}

.pro2 form {
    padding: 2rem;
    width: 100rem;
    display: flex;
}


.Profile-left {
    width: 35%;
    text-align: center;
    background-color: #f3f5f5;
}

.Profile-left .Profile-image img{
    transform: translate(0%,-20%);
    width: 120px;
    border-radius: .375rem;
    border-radius: 50%;
    margin-bottom: -10%;
}

.Profile-left-body .left-up-context{
    color: #7f90a1;
}


.Profile-left-body .left-up-context .role{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 300;
}

.Profile-left-body .space{
    border-top: .1rem #515b65 dashed;
    width: 50%;
    margin-left: 25%;
}

.Profile-left-body .left-down-context h3{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 18px;
    color: #32325d;
    margin-bottom: 0;
}

.Profile-left-body .left-down-context p{
    margin-top: 0;
    font-weight: 200;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #32325d;
}

.Profile-right{
    width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Profile-right-top{
    display: flex;
    background-color: #d4eafb36;
}

.Profile-right-top h3{
    width: 80%;
    margin-left: 1rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: .3rem;
}

.btn1{
    width: 20%;
    margin: 1.5rem;
    padding: .4rem 0 0 0;
    border-radius: 2px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--main-color);
    text-align: center;
    font-size: 15px;
    float: right;
}

.btn1:hover{
    background-color: #32325d;
    color: var(--light-bg);
    font-weight: 600;
    transition: 0.2s linear;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.Profile-right-bot{
    background-color: #ffffff;
}

.Profile-right-bot .heading-small{
    margin: .7rem 0 .7rem 1rem;
    font-size: 2rem;
    color: #8ca1b5d2;
}

.Profile-right-bot .Infor-group{
    margin: .7rem 0 .4rem 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #58636e;
}

.Profile-right-bot .Infor-group .infor{
    margin: .4em 0 0 0.5em;
    width: 95%;
    padding: 1em .5em 1em .5em;
    border-radius: .4em;
    border: #515b65 solid 1px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.class-group p{
    margin: .1em 0 .2em 2em;
    font-size: 1.3rem;
    color: #1c1c3e;
}


.exam{
    font-size: 16px;
    height: 500px; /* Adjust the height to make it bigger */
    width: 100%; /* Adjust the width to make it bigger */
    margin: 0 auto;
    flex: 1; /* This will make .exam take up the remaining vertical space */
    overflow-y: auto;
    padding-bottom: 200px;
    /*background: url(../images/back3.jpg) center/cover;*/
}

.exam .row{
    padding-top: 13px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.exam .row form{
    flex: 1 1 auto;
    width: 100%;
}

.exam .row .exam-content{
    display: inline-block;
    width: calc(100% - 375px);
    background-color: #fff;
    border-radius: 5px;
}

.exam .row .questions{
    width: 360px;
    float: right;
    background-color: #fff;
    border-radius: 5px;
}

.submit{
    float: right;
    color: #fff;
    cursor: pointer;
    align-items: flex-start;
    background-color: #007bff;
    font-size: 18px; /* Increase font size for a bigger button */
    font-weight: 600;
    letter-spacing: 1.28px;
    line-height: 1.5; /* Increase line height to vertically center text */
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px; /* Increase padding for a bigger button */
    border: none; /* Remove any default button borders */
    border-radius: 5px;
}

.submit:hover {
    background-color: #0056b3;
}

.question-content{
    display: block;
}

.question-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.question-info .info {
    flex: 0 0 auto;
    margin-right: 10px;
}

.question-info .question-content {
    flex: 1;
    position: relative;
}

.question-content{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.qtext {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ablock {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.prompt {
    font-weight: bold;
}

.radio-option {
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 5px;
}


.question-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 1px;
    background-color: #ccc;
}


.exam .row1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.exam .row1 h1 {
    font-size: 30px;
    margin: 0;
}


.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb-item {
    display: inline;
    margin-right: 10px;
}

.breadcrumb-item:last-child {
    font-weight: bold;
}

.breadcrumb-item a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: #0056b3;
}

.info {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.info h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.info .state, .info .grade {
    margin: 5px 0;
    font-size: 13px;
}

.info .questionflag {
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.questionflagtext {
    cursor: pointer;
}





.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.qn_buttons{
    margin: 15px 0 ;
}

.qn_buttons button {
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 40px;
    border-radius: 5px;
    background-color: #f5f5f5;
    line-height: 30px;
    color: black;
    border: 1px solid;
    margin: 4px 0;
}

.qn_buttons button:hover {
    background-color: #0056b3;
}

.endtestlink {
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
}

#quiz-timer {
    font-size: 16px;
    margin-top: 10px;
}

#quiz-time-left{
    font-weight: bold;
}

.qnbutton.marked {
    position: relative;
}

.qnbutton.marked::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid red; /* Adjust the size and color as needed */
    border-left: 10px solid transparent;
    z-index: 1;
}
.exam .row .exam-info{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.exam .row .exam-info h1{
    font-size: 27px;
    font-weight: 500;
}
.exam .row .exam-info .exam-details{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
}
.exam .row .exam-info .exam-details h5{
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
}
.exam .row .exam-info h3{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}



.js-select2 span{
    width: 100%;
}

.class-ass {
    margin-bottom: 20px;
}

.class-ass p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}

.class-ass input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}


.statistics {
    /*background-image: url(../images/back3.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.statistics-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    padding: 40px;
}

.statistics-container h1 {
    color: var(--dark);
    font-size: 36px;
    margin-bottom: 20px;
}

canvas {
    margin-top: 20px;
}

.form-container2 form select{
    width: 100%;
    padding: 10px;
    background-color: var(--light-bg);
    border-radius: 5px;
    font-size: 16px;
}

.container .pagination a{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.container .pagination a:hover {
    background-color: white;
    border-radius: 5px;
    padding: 8px 8px;
    color: black;
}

.container .pagination a.active {
    color: black;
    padding: 8px 8px;
    background-color: white;
    border-radius: 5px;
}

.courses .pageCourse {
    display:flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    margin-top: -15px;
}
.courses .pageCourse a:hover {
    background-color: white;
    border-radius: 5px;
    padding: 8px 8px;
    color: black;
}

.courses .pageCourse a.active {
    color: black;
    padding: 8px 8px;
    background-color: white;
    border-radius: 5px;
}

.courses .pageCourse li {
    margin:0 8px;
}

.courses .pageCourse ul {
    display: flex;
    list-style:none;
    text-align: center;
}

.forgor:hover{
    color: var(--red);
}