*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  outline: none;
  border:none;
  text-decoration: none;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
}
.input-container {
  height: 45px;
}
.error-text-register{
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}
.input-container input,
.input-container .error-text-register {
  display: block;
  box-sizing: border-box;
}
.input-box, .gender-details{
    margin-top: var(--spacing);
}

.container{
  max-width: 700px;
  min-height: max-content;
  width: 100%;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--red), var(--blue));
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--spacing) 0 0 0;
}

form .user-details .input-box{
  margin-bottom: var(--spacing);
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid darkgray;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

input{
    background-color: var(--white-smoke);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  /*border-color: #9b59b6;*/
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: var(--spacing) 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }

 form .button{
   height: 45px;
   margin-top: var(--extreme-spacing);
 }

.bg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/web_background/login.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: darken;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
     background-color: var(--blue);
   /*background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  /*background: linear-gradient(-135deg, #71b7e6, #9b59b6);*/
     opacity: 0.8;
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}