*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    background-color: var(--white);
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
label{
    font-weight: 500;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    background-color: var(--white-smoke);
}
#password{
    margin-bottom: 30px;
}
input[type="password"]{
    border: 1px solid darkgray;
    border-bottom-width: 2px ;
    font-size: 14px;
}
input[type="button"] {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
}

input[type="button"]:hover{
    opacity: 0.8;
}

p{
    margin: 15px 0;
    display: inline-block;
    color: #ffffff;
}

#resetForm label{
    font-size: 18px;
}
