<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/room.css}" rel="stylesheet">
    <title>Add Cinema Room</title>
</head>
<body>
<div th:replace="nav.html"></div>
<div class="blur"></div>

<main>
    <div class="p-30 room-wrapper important">
        <div class="rel">
            <h2>Add Cinema Room</h2>
            <a th:href="'/cinemarooms'" class="back">
                <button type="button">Back</button>
            </a>
        </div>
        <form th:action="@{/addCinemaRoom}" th:object="${Cinema_Room}" method="post" class="form-1">
            <label class="room">
                <span>Cinema Room Name:</span>
                <input type="text" th:field="*{room_name}" th:value="${room_name}"/>
            </label>
            <label>
                <span>Seat Columns:</span>
                <input type="number" th:field="*{seat_column}" th:value="${seat_column}"/>
            </label>
            <label>
                <span>Seat Rows:</span>
                <input type="number" th:field="*{seat_row}" th:value="${seat_row}"/>
            </label>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
        </form>
        <p th:text="${message}">....</p>
    </div>
</main>
<div th:replace="footer.html"></div>
</body>
</html>