<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/change_password.css}">
    <link rel="stylesheet" th:href="@{/css/userprofile.css}">
    <!--Java Script-->
    <script th:src="@{/js/change_password.js}"></script>
</head>

<body>
<div th:replace="nav.html"></div>
<div class="blur"></div>

<div class="container-fluid mt-60" style="padding-bottom: 150px">
    <div class="row">
        <div class="col-lg-3 mb-30">
            <!-- Profile Information -->
            <div class="profile-bx text-center important p-30" style="border-radius: 10px; background: var(--white)">
                <div class="user-profile-thumb mb-30">
                    <img th:src="@{${user.getUserImagePath()}}" alt="">
                </div>
                <div class="profile-info mb-30">
                    <h4 th:text="${user.fullname}"></h4>
                    <span th:text="${user.email}"></span>
                </div>
                <div class="profile-tabnav">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/user-info/' + ${user.getAccount_id()}}">
                                <i class="Edit Profile"></i>Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user_booking/{id}(id=${user.getAccount_id()})}"><i
                                    class="Ticket History"></i>Ticket History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/score/' + ${user.getAccount_id()}}"><i
                                    class="My Score"></i>My Score</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/change-password/{id}(id=${user.getAccount_id()})}"><i
                                    class="Change Password"></i>Change Password</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="tab-pane col-lg-9" id="change-password" th:object="${changePass}">
            <form method="post" class="edit-profile important" th:action="@{/update-password}"
                  th:object="${changePasswordDTO}">
                <div class="">
                    <div class="form-group row">
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
                            <h2>Change Password</h2>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">
                            Current Password<span class="required-star">*</span></label>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                            <div class="input-group">
                                <input name="currentPassword" id="currentPassword" class="form-control" type="password"
                                       th:field="*{currentPassword}" value="" required
                                       oninput="togglePasswordVisibility('currentPassword', 'currentPasswordToggle')">
                                <div class="input-group-append">
                                <span class="input-group-text eye-slash" id="currentPasswordToggle" style="display: none;"
                                      onclick="togglePasswordField('currentPassword')">
                                </span>
                                </div>

                            </div>
                            <span class="error-text-password" th:if="${#fields.hasErrors('currentPassword')}"
                                  th:errors="*{currentPassword}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">
                            New Password<span class="required-star">*</span></label>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                            <div class="input-group">
                                <input name="newPassword" id="newPassword" class="form-control" type="password"
                                       th:field="*{newPassword}" value="" required
                                       oninput="togglePasswordVisibility('newPassword', 'newPasswordToggle')">
                                <div class="input-group-append">
                                <span class="input-group-text eye-slash" id="newPasswordToggle" style="display: none;"
                                      onclick="togglePasswordField('newPassword')">
                              </span>
                                </div>
                            </div>
                            <span class="error-text-password" th:if="${#fields.hasErrors('newPassword')}"
                                  th:errors="*{newPassword}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">
                            Re-Type New Password<span class="required-star">*</span></label>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                            <div class="input-group">
                                <input name="confirmPassword" id="confirmPassword" class="form-control" type="password"
                                       th:field="*{rePassword}" value="" required
                                       oninput="togglePasswordVisibility('confirmPassword', 'confirmPasswordToggle')">
                                <div class="input-group-append">
                                <span class="input-group-text eye-slash" id="confirmPasswordToggle" style="display: none;"
                                      onclick="togglePasswordField('confirmPassword')">
                                </span>
                                </div>
                            </div>
                            <span class="error-text-password" th:if="${#fields.hasErrors('rePassword')}"
                                  th:errors="*{rePassword}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                    </div>
                    <div id="success-message" style="display: none;">
                        Password changed successfully
                    </div>
                    <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="footer.html"></div>

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
