<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/forgot_password.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="blur"></div>
    <a th:href="@{/home}" class="home"><img th:src="@{/icons/house-solid.svg}"
            style="width: 40px;position: absolute; top: 30px; left: 30px"> </a>
    <div class="bg"></div>
    <div class="card">
        <form class="form" th:action="@{/existEmail}" method="post">
            <p class="lock-icon">
                <img th:src="@{/icons/lock-solid.svg}" style="width: 40px;filter: brightness(0) invert(1);">
            </p>
            <h2>Forgot Password?</h2>
            <p>You can reset your Password here</p>
            <input type="text" name="email" class="passInput ph-10" placeholder="Email address">
            <span class="error-text" th:text="${error!=null?error:success}"></span>
            <button>Send My Email</button>
        </form>
        <p class="mt-10" style="text-align: center">Have account? <a th:href="@{/login}" class="rollback">Login</a></p>
    </div>
    <input type="hidden" id="alo" th:value="${valueSendEmail}" />
    <script>
        var sendValue = document.getElementById("alo").value;
        console.log(sendValue);

        function successSend() {
            Swal.fire({
                title: 'Congratulations!',
                html: 'Please check your email to reset your password!',
                icon: 'success',
                width: 600,
                allowOutsideClick: false,
                allowEscapeKey: false
            }).then((result) => {
                window.location = "http://localhost:8080/login"
            });
        }

        function failSend() {
            Swal.fire({
                title: 'Error!',
                html: 'Your account was disabled!',
                icon: 'error',
                width: 600,
            }).then((result) => {
                window.location = "http://localhost:8080/login"
            });
        }

        if (sendValue === "true") {
            window.onload = function () {
                successSend();
            }
        } else if (sendValue === "false") {
            window.onload = function () {
                failSend();
            }
        }
    </script>
</body>

</html>