<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <script>
        function failVerify() {
            Swal.fire({
                title: 'Error!',
                html: 'Your token is not exist',
                icon: 'error',
                width: 600,
            }).then((result) => {
                window.location = "http://localhost:8080/login"
            });
        }
        window.onload = function () {
            failVerify();
        }
    </script>
</body>

</html>