<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/reset_password.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="resetForm" th:action="@{/process_reset}" method="post">
        <input type="hidden" name="code" th:value="${code}"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Your placeholder here">
        <label for="cnfrm-password">Confirm Password</label>
        <input type="password" id="cnfrm-password" name="cnfrm-password" placeholder="Confirm password here">
        <p id="message"></p>
        <input type="button" onclick="checkPassword()" value="SUBMIT"/>
    </form>
    <input type="hidden" id="alo" th:value="${resetSuccessfull}"/>
    <script th:src="@{/js/confirm_password.js}"></script>
    <script>
        var resetValue = document.getElementById("alo").value;
        console.log(resetValue);
        function successReset() {
                Swal.fire({
                    title: 'Congratulations!',
                    html: 'You reset password successfully!<br> Please click <a href="http://localhost:8080/login">here</a> to login.',
                    icon: 'success',
                    width: 600,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCloseButton: false
                })
            }
            function failReset() {
                Swal.fire({
                    title: 'Error!',
                    html: 'You can not reset password beacause your account is disabled or not exist',
                    icon: 'error',
                    width: 600,
                })
            }
        if(resetValue==="true"){
            window.onload = function(){
                successReset();
            }
        }else if(resetValue==="false"){
            window.onload = function(){
                failReset();
            }
        }


    </script>
</body>
</html>